.Music {
  padding: 60px 0 0 0;
  background-size: cover;
  background-position: 70% 50%;
}

.Title {
  text-align: center;
  font-size: 80px;
  color: #ffdc12;
  margin-bottom: 30px;
}

.ReactPlayer {
  margin-right: 0;
  margin-left: auto;
}


@media (min-width: 500px) {
  .Music {
    display: flex;
  }

  .Photo {
    width: 50%;
  }
  
  .Photo img {
    width: 100%;
    height: 100%;
    object-fit: none;
  }
  
}