.Music {
  padding: 60px 0 0 0;
  background-size: cover;
  background-position: 70% 50%;
}

.Title {
  text-align: center;
  font-size: 80px;
  color: #ffdc12;
  margin-bottom: 30px;
}

@media (min-width: 500px) {
  
}