.About {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: #616161;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 70% 50%;
  padding: 100px 0 30px 0;
}

.Photo {
  background-color: black;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  margin: 0 auto;
}

.Photo img{
  width: 200px;
  height: 200px;
  object-fit: cover;
  object-position: 50% 20%;
  border-radius: 50%;
  opacity: 0.7;
  z-index: 1;
}

.Description {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-left: 40px;
}

.Title {
  text-align: center;
  font-size: 80px;
  color: #ffdc12;
  z-index: 2;
}

.Text {
  font-size: 15px;
  margin-top: 50px;
}

@media (min-width: 500px) {
  .About {
    flex-direction: row;
    padding: 100px;
  }

  .Photo {
    margin-bottom: -70px;
    width: 350px;
    height: 350px;
  }

  .Photo img{
    width: 350px;
    height: 350px;
  }

  .Title {
    text-align: left;
    margin-left: -100px;
  }

  .Text {
    text-align: left;

  }
}