.About {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: #616161;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 70% 50%;
  padding: 100px 0 30px 0;
  align-items: center;
}

.Photo {
  background-color: black;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  margin: 0 auto;
  margin-top: 30px;
}

.Photo img{
  width: 200px;
  height: 200px;
  object-fit: cover;
  object-position: 50% 20%;
  border-radius: 50%;
  opacity: 0.7;
}

.Description {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-left: 40px;
}

.Title {
  text-align: center;
  font-size: 60px;
  color: #ffdc12;
  position: relative;
  z-index: 2;
}

.Text {
  font-size: 18px;
  margin: 50px 40px;
  text-align: left;
  line-height: 2em;
}

@media (min-width: 500px) {
  .About {
    flex-direction: row;
    padding: 200px 180px 50px 200px;
  }

  .PhotoTitle {
    margin-right: 90px;
  }

  .Photo {
    margin-top: -120px;
    margin-left: -50px;
    width: 350px;
    height: 350px;
  }

  .Photo img{
    width: 350px;
    height: 350px;
  }

  .Title {
    font-size: 80px;
    margin-right: -200px;
  }

  .Text {
    text-align: right;
    margin: 0;
  }
}