.Contact {
  background-color: #141414;
  padding: 40px 0 40px 0;
}

.Title {
  text-align: center;
  font-size: 60px;
  color: #ffdc12;
  margin-bottom: 30px;
}

.Social {
  margin-bottom: 40px;
}

.Social a {
  margin: 0 10px;
}

.Contact small {
  color: #e8e8e8;
  margin: 20px 0;
}

.SocialFloating {
  position: fixed;
  right: 20px;
  bottom: 20px;
}

@media (min-width: 500px){

  .Contact {
    padding-top: 100px;;
  }
  
  .Title{
    font-size: 80px;
  }

  .Social {
    margin-bottom: 20px;
  }
}